:root{
    --primary-color : #FAF3E1;
    --secondary-color:#FF6D1F;
    --third-color:#F5E7C6;
    --fourth-color:#222222;
}
@font-face {
    font-family: Aeonika;
    src: url(./Font-holder/Aeonika-BF66fcc5a8cc5db.otf);
    
}
@font-face {
   font-family: Aeonik;
   font-weight: 200;
    src:url(./Font-holder/fonnts.com-Aeonik-Regular.ttf);
}
@font-face {
    font-family: Aeonik;
    font-weight: 500;
    src: url(./Font-holder/fonnts.com-Aeonik-Bold.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: Aeonik;
   
    
}
html,body {
height: 100%;
width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: var(--third-color);
     
}

nav{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: var(--secondary-color);
}
section.allElem{
    height: 100%;
    width: 100%;
    background-color: var(--third-color);
    padding:40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
}
.elem{
    background-color: var(--secondary-color);
    height: 400px;
    width: 270px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}
.elem h2{
       position: absolute;
       bottom: 5%;
       right: 5%;
}
.elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem:active{
    scale: 0.97;
}
